#header{
    height: 99px;
    border-bottom: 1px solid #c5c5c5;
}
#header > div {
    width:1200px;
    margin:0 auto;
}
#header > div > *{
    float:left;
}
#header h1{
    padding: 0 20px 0 0;
}
#header #lnb li{
    float: left;
    padding: 0 16px;
}
#header #lnb li a{
    display: block;
    height: 99px; 
    line-height: 99px;
    font-family: 16px bold #333;
}
#header #lnb li a:hover {
    height: 95px;
    border-bottom:4px soild #1764dc;
    background: url(./index_images/bg_lnb.gif) no-repeat center 87px;
    color: #3c91f3;
}
#header  p {
    height: 99px;
    line-height: 99px;
    color:#0e3c84;
    font-size: 22px;
    font-weight: bold;
}
#header p span {
    color: #1764dc;
}
#header > div > div{
    padding: 30px 0 0 11px;
    font-size: 0;
}
#header > div > div a {
    vertical-align: middle ;
}
#header .btn_pop{
    display: inline-block;
    width: 75px;
    height: 40px;
    background :url(./index_images/bu_arrow_down.gif) #2cc06b;
    color: white;
    font-size: 13px;
    line-height: 35px;
    text-indent: 9px;
}

#visual{
    background: url(./index_images/bg_visual.jpg) no-repeat center top;
    background-color: rgb(186, 253, 253);
}
#visual .copy > div{
    float:left;
    width: 33.33%;
}
#visual > div {
    width: 1200px;
    margin: 0 auto;
}
#visual .copy .txt1{
    font-size:50px; font-weight: bold; color: #fff;
   /*  text-align: center; */
    letter-spacing: 12px;
}
#visual .copy .txt1 div{
    font-size:33px; font-weight: bold; color: #fff;
    letter-spacing: 0;
}
#visual .copy .txt1 img{
    margin: 0 13px 0 0;
}
#visual .copy .txt2{
    background: url(./index_images/bg_circle.png) no-repeat center;
    width: 334px; height: 264px;
    font-size: 20px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 80px;
}
#visual .copy .txt2 div{
    font-size: 135px;
    color: #fff;
}
#visual .copy .txt3{
    color: #fff;
    text-align: center;
    font-size: 40px;
    letter-spacing:21px;
}
#visual .copy .txt3 div{
    font-size: 20px;
    color: #fff;
    text-align: center;
    letter-spacing: 7px;
}
/* #visual div .a,#visual div .b{
    clear: both;
}*/


